---
import { Image } from "astro:assets";
import { Layout } from "minimal-portfolio-theme:layouts";
import { Hero, Banner } from "minimal-portfolio-theme:components";
import { houston } from "minimal-portfolio-theme:assets";
import config from "minimal-portfolio-theme:config";

---

<!-- https://docs.astro.build/en/guides/routing/ --><!-- https://egghead.io/lessons/astro-implement-pagination-in-a-dynamic-astro-index-page-with-getstaticpaths-and-paginate -->
<Layout>
  <Banner title="Aaron" />
  <!-- {
    page.data.map((post) => (
      <div class="post-item">
        <div>{post.data.date}</div>
        <div>{post.data.title}</div>
        <div>{post.data.type}</div>
        <div>{post.data.primaryContributionArea}</div>
        <div>
          {post.data.additionalContributionAreas?.map((a) => (
            <div>{a}</div>
          ))}
        </div>
      </div>
    ))
  } -->
</Layout>
