---
import { Image } from "astro:assets";
import { Layout } from "minimal-portfolio-theme:layouts";
import { Hero, Banner } from "minimal-portfolio-theme:components";
import { houston } from "minimal-portfolio-theme:assets";
import config from "minimal-portfolio-theme:config";
import { getCollection } from "astro:content";

const allPosts = await getCollection("post");
---

<Layout>
  <Banner title="Aaron" />
  {
    allPosts.map((post) => (
      <div class="post-item">
        <div>{post.data.date}</div>
        <div>{post.data.title}</div>
        <div>{post.data.type}</div>
        <div>{post.data.primaryContributionArea}</div>
        <div>
          {post.data.additionalContributionAreas?.map((a) => (
            <div>{a}</div>
          ))}
        </div>
      </div>
    ))
  }
</Layout>
