---
import config from "minimal-portfolio-theme:config";
import "bootstrap/dist/css/bootstrap.min.css";
import "minimal-portfolio-theme:styles";
//import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";

import RecentlyContributedProjects from "../components/RecentlyContributedProjects.astro";
import "react-calendar-heatmap/dist/styles.css";
import "@fortawesome/fontawesome-svg-core/styles.css";

import axios from "axios";
import GitHubCalendarWrapper, {
  type Activity,
} from "../components/react/GitHubCalendarWrapper";
import Banner from "../components/Banner.astro";

const response = await axios.get(
  "https://github-contributions-api.jogruber.de/v4/aaronamm?y=last",
);

const activities = response.data.contributions as Activity[];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{config.title}</title>
    <!-- <script is:inline src={bootstrap}></script> -->
  </head>
  <body>
    <div class="main-container">
      <div class="navigation">
        <div class="navbar">
          <div class="primary">
            <a class="link" href="/">Activities</a>
            <a class="link" href="" class="hr">Project</a>
            <a class="link" href="" class="hr">Profile</a>
          </div>

          <div class="secondary">
            <a class="link" href="">GitHub</a>
            <a class="link" href="">dark mode</a>
          </div>
        </div>
      </div>

      <div class="header">
        <Banner title={config.title} />
      </div>

      <div class="aside">
        <GitHubCalendarWrapper activities={activities} />
        <RecentlyContributedProjects/>
      </div>

      <div class="main">
        <slot />
      </div>

      <div class="footer">footer Copyright</div>
    </div>
  </body>
</html>
