---
import { Layout } from "minimal-portfolio-theme:layouts";
import { getCollection, type CollectionEntry } from "astro:content";

import type { GetStaticPaths, Page } from "astro";
import PostList from "../../components/PostList.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getCollection("post");
  const sortedPosts = posts.sort(
    (a, b) => Date.parse(`${b.data.date}`) - Date.parse(`${a.data.date}`),
  );
  return paginate(sortedPosts, { pageSize: 2 });
};

interface Props {
  page: Page<CollectionEntry<"post">>;
}

const page = Astro.props.page;
const posts = page.data;
---

<Layout>
  <PostList posts={posts} />

  <div class="pagination-container">
    {
      page.url.prev && (
        <a class="link" href={page.url.prev}>
          Previous
        </a>
      )
    }
    <span class="current"> {page.currentPage} </span>
    {
      page.url.next && (
        <a class="link" href={page.url.next}>
          Next
        </a>
      )
    }
  </div>
</Layout>

<style lang="scss">
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    * {
      padding: 0.25rem;
      border-radius: 0.25rem;
      min-width: 2rem;
      text-align: center;
    }

    > .current {
      background-color: var(--bs-primary-bg-subtle);
    }

    > .link {
      text-decoration: none;
      color: var(--bs-body-color);
    }

    > .link:hover {
      background-color: var(--bs-primary-bg-subtle);
    }
  }
</style>
