---
import { Layout } from "minimal-portfolio-theme:layouts";
import { getCollection, type CollectionEntry } from "astro:content";

import type { GetStaticPaths, Page } from "astro";
import PostList from "../../components/PostList.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = await getCollection("post");
  const sortedPosts = posts.sort(
    (a, b) => Date.parse(`${b.data.date}`) - Date.parse(`${a.data.date}`),
  );
  return paginate(sortedPosts, { pageSize: 2 });
};

interface Props {
  page: Page<CollectionEntry<"post">>;
}

const page = Astro.props.page;
const posts = page.data;
---

<Layout>
  <PostList posts={posts} />
  <div>
    <span>
      {page.url.prev && <a href={page.url.prev}>previous</a>}
    </span>
    {page.currentPage}
    <span>
      {page.url.next && <a href={page.url.next}>next</a>}
    </span>
  </div>
</Layout>
